.star-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.star-layer {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
}

.star-layer::after {
  content: " ";
  position: absolute;
  top: 2000px;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: inherit;
  box-shadow: inherit;
}

.slow {
  animation: animStar 150s linear infinite;
}

.medium {
  animation: animStar 100s linear infinite;
}

.fast {
  animation: animStar 50s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
